
body {
    font-family: 'Baskerville', 'Libre Baskerville', serif;
    font-size: 18px;
    text-align: center;
}

address {
    font-style: normal;
}

h1 {
    font-family: 'Pinyon Script', cursive;
}

dd {
    margin: 0;
}

nav {
    background: black;
    color: white;

    > ul {
        list-style-type: none;
        padding: 0;

        > li {
            display: inline;
            padding: 4px;

            > a {
                color: white;
            }
        }
    }
}

.content {
    max-width: 800px;
    margin: 0 auto;
}