$break-small: 400px;
$break-medium: 600px;

html {
    font-size: 18px;
    height: 100%;

    @media screen and (max-width: $break-small) {
        font-size: 14px;
    }
}

body {
    background: #111;
    box-sizing: border-box;
    font-family: 'Baskerville', 'Libre Baskerville', serif;
    height: 100%;
    margin: 0 auto;
    max-width: 2000px;
    position: relative;
}

address {
    font-style: normal;
}

article {
    background: rgba(255, 255, 255, 0.8);
    padding: 16px 20px;
    text-align: justify;
}

dd {
    margin: 0;
}

h1, h2, h3 {
    font-family: 'Dancing Script', cursive;
}

nav {
    background: white;
    box-sizing: border-box;
    font-family: 'Dancing Script';
    font-size: 1.55rem;
    height: 40px;
    position: relative;

    > ul {
        bottom: 2px;
        left: 20px;
        list-style-type: none;
        margin: 0;
        padding: 0;
        position: relative;
        top: 4px;

        @media screen and (max-width: $break-small) {
            left: 0;
            text-align: center;
            top: 8px;
        }

        > li {
            display: inline;
            padding: 4px;

            > a {
                color: black;
                text-decoration: none;
            }
        }
    }
}

.background_photo {
    background-position: 50% 0%;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    max-width: 2000px;
    position: fixed;
    width: 100%;
    z-index: -1;
}

.background_photo-default {
    @extend .background_photo;
    background-image: url('/static/images/backgrounds/sunny-couple.jpg');
}

.background_photo-about {
    @extend .background_photo;
    background-image: url('/static/images/backgrounds/looking-at-view.jpg');
}

.background_photo-event {
    @extend .background_photo;
    background-image: url('/static/images/backgrounds/rupert-and-ring.jpg');
}

.background_photo-registry {
    @extend .background_photo;
    background-image: url('/static/images/backgrounds/tower.jpg');
}

.content {
    padding: 40px 20px;

    @media screen and (max-width: $break-small) {
        padding: 40px 5px;
    }
}

.monogram_container {
    bottom: 20px;
    height: 100px;
    position: absolute;
    right: 20px;
    width: 100px;

    &::before {
        background: white;
        border-radius: 50%;
        content: '';
        height: 98%;
        left: 1%;
        opacity: 0.85;
        position: absolute;
        top: 1%;
        width: 98%;
    }
}

.monogram {
    left: 0;
    position: absolute;
    top: 0;
}

// home

.homepage_name_and_date {
    bottom: 0%;
    color: white;
    max-width: 60%;
    position: absolute;
}

// about page

.content-about_page {
    @extend .content;

    position: absolute;
    top: calc(100% - 120px);
}

.story {
    width: 29%;

    @media screen and (max-width: $break-medium) {
        font-size: 14px;
        width: 35%;
    }

    @media screen and (max-width: $break-small) {
        font-size: 12px;
    }

    > h1 {
        font-size: 20px;
        margin-bottom: 20px;
        text-align: center;
    }
}

.story-lochlan {
    @extend .story;

    float: left;
}

.story-catherine {
    @extend .story;

    float: right;
}

// event page, registry page

.event_details, .registry_details {
    margin: 0 auto;
    text-align: center;
    width: 70%;

    ul {
        padding: 0;

        > li {
            list-style-type: none;
        }
    }
}
