{% extends "base.html" %}


{% block page_title %}About Us{% endblock %}

{% block photo %}background_photo-about{% endblock %}

{% block content_class %}content-about_page{% endblock %}

{% block content %}
    <article class="story-lochlan">
        <h1>How I met Catherine</h1>

        <p>In the summer of 2010 I was 25 years old and my social activity revolved around going out to bars with my friends.  The main and stated goal was always to meet girls, but mostly we would imbibe and explore nightlife in downtown and northwest Portland.</p>

        <p>It was that summer that I first went to a karaoke bar called the Boiler Room with Nate and River.  I don't remember the reason we were lured there, but not long after we arrived Nate was talking to three girls sitting at a table—Catherine, Megan, and Megan's co-worker Ashley—inviting them to come over and enjoy the pool at our apartment.  A pool that didn't actually exist.  I immediately revealed that Nate was lying, much to his chagrin—but the girls laughed, and seemed to enjoy it, so I think the lie came off as charming or innocent or something.  Whatever the case, Nate's lying-about-having-a-pool gambit was a brilliant move that quickly got us an in with some cute strangers.</p>

        <p>I knew I wanted to talk to Catherine, so I sat right next to her—but first I went to work building rapport with her friends.  It was easy to start a conversation with Ashley when I recognized her Star Wars tattoo.</p>

        <p>Eventually—having charmed her friends sufficiently—I managed to start talking to Catherine.  We hit it off immediately and talked the whole night.  Everyone was getting along, actually, it was a really great vibe and a fun night.  The thing I remember best from that night, and the memory I most enjoy, is Catherine and I doing ridiculous dances while still seated: our palms pressed together, moving up and down in sequence, laughing together at our brazen dorkiness.</p>

        <p>At the end of the night I managed to coax Catherine outside with me, where we sat together on the curb and compared phones.  Things were going well, I could tell that she was having a good time.  I slowly leaned in and kissed her.</p>

        <p>Catherine and her friends left soon after, and without saying goodbye.  I was disappointed until I learned that Nate had the foresight to ask for Megan's number before the group left.  A day or two later, Nate made plans for us to meet with Megan and Catherine.  He and I were living together at the time, and we invited them to meet us at our apartment.  From there, I would drive us all to go bowling at Valley Lanes, which has since burned down.</p>

        <p>I will never forget when Catherine Montgomery walked through my front door for our first date.  I felt lucky, and glad for the preceding series of decisions that led me to that moment in time.  I could tell that it was going to be another amazing night.</p>
    </article>

    <article class="story-catherine">
        <h1>How I met Lochlan</h1>

        <p>It was the beginning of summer in 2010 and I had just finished my junior year of college.  Having recently turned twenty one, I was enjoying spending the summer exploring Portland’s night life.</p>

        <p>Early into the summer my best friend Megan and I went out for a friend’s birthday to the Boiler Room.  After that it became our go to spot for a night out.  The Boiler Room is a popular karaoke bar and while Megan and I are not much for performing, we love to people watch and the Boiler Room is the perfect place for that.</p>

        <p>One Saturday night Megan and I were hanging out at her place, debating whether or not we should go out and do something.  I was feeling pretty lazy and was perfectly content watching Netflix all evening.  However, Megan decided we should go out so off we went to the Boiler Room along with her friend Ashley.  The bar was crowded as usual, but we managed to grab a table close to the stage.  The performances were entertaining as always; a mixture of hilarious, impressive, and just plain terrible.</p>

        <p>After we had been sitting at our table for a little while, two guys came up to us and we started chatting.  They asked us our names, we learned that their names were Nate and River, and if we came there often and we gave our opinions of the karaoke acts we had seen so far.  A few minutes into our conversation, a third joined their group at our table.  He introduced himself as Lochlan (I had to ask him to repeat his name about five times) and grabbed a seat in between me and Ashley.  Lochlan spent the majority of his time initially talking to Ashley while Megan and I hung out with Nate and River, although I admittedly kept my eyes on him.</p>

        <p>At some point Lochlan turned his attention towards me and I was instantly smitten.  I couldn’t tell you what we talked about, but I remember feeling like I didn’t want the night to end.  He was hilarious and charming and incredibly easy to talk to, which is a rare occurrence for me.  We spent the rest of the night lost in our own little world, dancing terribly and having a great time.</p>

        <p>Later that night, my friends grabbed me while Lochlan had stepped out saying that they were ready to leave.  I didn’t get a chance to say goodbye to Lochlan, but we had exchanged numbers so I wasn’t too worried.  Although, later on he told me he thought I didn’t like him because I left so suddenly.</p>

        <p>The next day I anxiously waited with my phone, hoping I’d hear from him.  I didn’t.  Meanwhile, Megan and Nate were texting making plans for a double date with Lochlan and me.  He knew how to keep a girl waiting! Three days later Lochlan finally calls me and officially asks me out.  A few days after that we went on a double date and have spent practically every day together since.</p>
    </article>
{% endblock %}
