<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Lochlan & Catherine's Wedding: {% block page_title %}{% endblock %}</title>
</head>

<body>
    <header>
        <h1>Lochlan McIntosh & Catherine Montgomery</h1>
    </header>

    <nav>
        <ul>
            <li><a href="{% url 'home' %}">Home</a></li>
            <li><a href="{% url 'about' %}">About Us</a></li>
        </ul>
    </nav>

    <section>
        {% block content %}{% endblock %}
    </section>
</body>
</html>
