{% extends "base.html" %}


{% block page_title %}Event{% endblock %}

{% block photo %}background_photo-event{% endblock %}

{% block content %}
    <article class="event_details">
        <dl>
            <dt>
                <h2>Venue</h2>
            </dt>
                <dd>
                    <p><a href="https://www.google.com/maps/place/The+Foundry+at+Oswego+Pointe/@45.4177061,-122.6574696,17z/data=!3m1!4b1!4m2!3m1!1s0x0:0x7bc1ac2efe97fb0c" rel="nofollow" target="_blank">The Foundry at Oswego Pointe</a></p>

                    <address><p>320 Oswego Pointe Drive, Lake Oswego, Oregon 97034</p></address>
                </dd>
            <dt>
                <h2>Date & Time</h2>
            </dt>
                <dd>
                    <p><time datetime="2016-07-16 18:00">July 23, 2016 6:00 PM</time></p>
                    <p>Cocktail hour and reception to follow</p>
                </dd>
            <dt>
                <h2>Transportation</h2>
            </dt>
                <dd>
                    <p>Transportation will be provided to and from the Foundry from the following hotels:</p>
                    <ul>
                        <li><a href="http://www.sentinelhotel.com/">The Sentinel</a></li>
                        <li><a href="http://www.northrupstation.com/">The Inn at Northrup Station</a></li>
                    </ul>
                </dd>
        </dl>
    </article>
{% endblock %}
