{% extends "base.html" %}


{% block page_title %}Registry{% endblock %}

{% block photo %}background_photo-registry{% endblock %}

{% block content %}
    <article class="registry_details">
        <h2>Gifts</h2>
        <p>We are happy just to have everyone's attendence, but if you would like to give a gift we would be thrilled to receive any cash contributions towards our honeymoon in Paris. 🇫🇷</p>
        <p>We are also registered at <a href="http://www.crateandbarrel.com/gift-registry/catherine-montgomery-and-lochlan-mcintosh/r5428021">Crate & Barrel</a>.</p>
    </article>
{% endblock %}
